// Place all the styles related to the Categories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.dashboard_page {
  background: #d3cce3; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #e9e4f0,
    #d3cce3
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #e9e4f0,
    #d3cce3
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  width: 100%;
  height: 80vh;
}

#tasks_table {
  font-size: 12px;
  border-collapse: collapse;
  width: 60%;
  margin: 2%;

  th,
  td {
    text-align: center;
    padding: 8px;
  }

  td {
    border-left: 1px solid #dddddd;
    border-right: 1px solid #dddddd;
  }

  td:nth-child(1) {
    width: 50%;
  }
}
